@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
  @theme {
    --font-sans: var(--font-open-sans);
    --font-heading: var(--font-raleway);
  }
@theme{
  --color-neon-green: #98EB00;
}
@theme{
  --breakpoint-ks:68rem;
}
@theme{
  --color-red-given:#CC0066;
}
@theme{
  --color-card-page:#282B21;
}
@theme{
  --color-card-font:#C1CAAE;

}
@theme{
  --color-card-head:#E2E4D4;

}
@theme{
  --color-card-white:#F1F5F9;
}
@theme{
  --color-dark-no:#22C55E;

}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #0B1203 inset !important;
  box-shadow: 0 0 0px 1000px #0B1203 inset !important;
  caret-color: #ffffff !important;
}