@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --font-sans: var(--font-open-sans);
  --font-heading: var(--font-raleway);
}
@theme{
  --color-neon-green: #98EB00;
}
@theme{
  --breakpoint-ks:68rem;
}
@theme{
  --color-red-given:#CC0066;
}
@theme{
  --color-card-page:#282B21;
}
@theme{
  --color-card-font:#C1CAAE;

}
@theme{
  --color-card-head:#E2E4D4;

}
@theme{
  --color-card-white:#F1F5F9;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}
